:root {
  --primary-color: royalblue;
  --primary-text: white;
  --link-color: #007bff;
}
.heading {
  font-family: "Poppins", sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}
.uploader__input {
  width: 0px;
}
.uploader__input:focus + .uploader__btn {
  outline: 5px solid cornflowerblue;
}
.uploader__btn {
  cursor: pointer;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  background-color: var(--primary-color);
  color: var(--primary-text);
  font-family: sans-serif;
}
footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  text-align: center;
  padding-top: 0.5rem;
  font-family: sans-serif;
}
a {
  color: var(--link-color);
  text-decoration: none;
}
